*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
}
.parent{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(35, 35, 101);
    color: aliceblue;
    box-shadow: 5px 5px 20px;
}

.parent nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(147, 88, 17);
    align-items: center;
    padding: 30px 50px;
    height: 15%;
}

nav h2{
    font-size: 25px;
    font-weight: 600;
    margin-left: 40px;
    color: blanchedalmond;
    position: relative;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none; /* removes the dots*/
}

ul li a{
    text-decoration: none;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    color: azure;
}
.main-content .left{
    width: 50%;
    height: 100%;
    padding: 40px 30px;
}
.left h3{
    font-weight: 600;
    font-size: 25px;
}
.main-content{
  background-image: url(https://images.unsplash.com/photo-1550517636-ad7bac40dc28?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=869);
  width: 100%;
  height: 500px;
  object-fit: cover; /* makes sure image doesn't stretch */
}